@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';



navbar {
  padding: 1rem;
  text-align: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: green
}


.navbar-brand:hover {
  color: #2a8e18;
}


.nav-link {
  color: #342b2b;
  transition: color 0.1s ease;
}

.nav-link:hover {
  color: #2a8e18;
}

::placeholder {
  font-style: italic;
}


